img {
    max-width: 100%; /* Максимальная ширина картинки - 100% от родительского блока */
    max-height: 100%; /* Максимальная высота картинки - 100% от родительского блока */
    margin: auto; /* Выравнивание картинки по центру */
}